# Ignore source
src/**
tsconfig.json
eslint.config.mts
webpack.config.js
README.md

# Ignore maps and licenses and type seclarations
**/*.map
**/*.LICENSE.txt
**/*.d.ts

# Ignore misc files
.vscode/
.git/
.gitignore
.prettierignore

node_modules/
